<% if @change.errors.any? %>
  <h3><%= @change.errors.count%>個のエラーがあります</h3>
  <ul>
    <% @change.errors.full_messages.each do |message|%>
    <li><%=message%></li>
    <% end %>
  </ul>
<% end %>

<div class="container back my-5">
    <div class="box1">
        <h1 class="buy">コインを交換する</h1>
    </div>
    <div class="box1">
        <h3 class="buy">ガバスと交換</h3>
    </div>
    <div class="box1">
        <%= form_with url:confirm_path, model: @change_coin do |f| %>
            <div class="text-center">
                <p class="buy">交換するコインを入力</p>
                <%= f.text_field :piece,size:1 %>000コイン
            </div>
            <div class="buy">
                <%= f.submit "コインを交換する",class:"a-btn a-btn-border1" %>
            </div>
        <% end %>
   </div>
</div>