<div class="container back my-5">
    <div class="box1">
        <h1 class="buy">確認画面</h1>
    </div>
    <div class="box1">
        <%= form_with url:changecoin_path, model: @change_coin do |f| %>
            <div class="buy">
                <p><%= @change.piece %>000コインを<%= @gabas %>ガバスと交換します。</p>
                <%= f.hidden_field :piece,:value=>@change.piece %>
            </div>
            <div class="buy">
                <%= f.submit "交換を確定する",class:"a-btn a-btn-border1" %>
            </div>
        <% end %>
    </div>
</div>