<div class="container back my-5">
    <div class="box1">
        <h1 class="buy"><%=@customer.name%>さんの会員詳細</h1>
    </div>



    <div class="mt-5 box1">
        <div class="inline mr-5">
            <div class="bottom">
                <h4>会員ID</h4>
            </div>
            <div class="bottom">
                <h4>ユーザーネーム</h4>
            </div>
            <div class="bottom">
                <h4>メールアドレス</h4>
            </div>
            <div class="bottom">
                <h4>保有コイン数</h4>
            </div>
        </div>
        <div class="inline ml-5">
            <div class="bottom">
                <h4><%= @customer.id %></h4>
            </div>
            <div class="bottom">
                <h4><%= @customer.name %></h4>
            </div>
            <div class="bottom">
                <h4><%= @customer.email %></h4>
            </div>
            <div class="bottom">
                <h4><%= @customer.coin %></h4>
            </div>
        </div>
    </div>
    <div class="box1 mt-5">
        <div>
            <%= link_to"退会させる",admins_public_path(@customer.id),method: :delete, data: { confirm: '本当に消しますか？' },class:"a-btn a-btn-border" %>
        </div>
    </div>
</div>