<div class="container my-5 back">
  <div class="py-5">
    <h1 class="text-center"><%= @customer.name %>のホーム</h1>
  </div>
  <div class="big-box1">

    <div>
      <% if @customer.profile_url  == nil %>
        <%= image_tag 'no_image.jpg', size: "250x250" %>
      <% else %>
        <%= image_tag @customer.profile_url, size: "250x250" %>
      <% end %>
    </div>

    <div>
      <div class="text-center buy">
        <h4 class="coin">
          保有コイン　:　<%= @customer.coin %>枚
        </h4>
      </div>
      <div class="big-box1">
        <div class="margin">
          <%= link_to(new_buycoin_path,class:"a-btn a-btn-3d-circle")do %>
            <span class="a-btn-3d-circle-content">
              <span class="a-btn-3d-circle-front">コインを購入</span>
            </span>
            <span class="a-btn-3d-circle-back">Go!</span>
          <% end %>
        </div>

        <div class="margin">
          <%= link_to(change_path,class:"a-btn a-btn-3d-circle")do %>
            <span class="a-btn-3d-circle-content">
              <span class="a-btn-3d-circle-front">コインと交換</span>
            </span>
            <span class="a-btn-3d-circle-back">Go!</span>
          <% end %>
        </div>
      </div>

      <div class="box1">
        <div class="margin">
          <%= link_to(editpage_path(current_customer),class:"a-btn a-btn-3d-circle")do %>
            <span class="a-btn-3d-circle-content">
              <span class="a-btn-3d-circle-front">会員情報を変更</span>
            </span>
            <span class="a-btn-3d-circle-back">Go!</span>
          <% end %>
        </div>
      </div>

      <div class="big-box1">
        <div class="margin">
          <%= link_to(new_picture_path,class:"a-btn a-btn-3d-circle")do %>
            <span class="a-btn-3d-circle-content">
              <span class="a-btn-3d-circle-front">イラストを販売</span>
            </span>
            <span class="a-btn-3d-circle-back">Go!</span>
          <% end %>
        </div>

        <div class="margin">
          <%= link_to(mypicture_path,class:"a-btn a-btn-3d-circle")do %>
            <span class="a-btn-3d-circle-content">
              <span class="a-btn-3d-circle-front">イラストを管理</span>
            </span>
            <span class="a-btn-3d-circle-back">Go!</span>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
