<div class="container">
  <div class="row">
    <h1><%= @customer.name %>のホーム</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <% if @customer.profile_url  == nil %>
        <%= image_tag 'no_image', size: "300x300" %>
      <% else %>
        <%= image_tag @customer.profile_url, size: "480x480" %>
      <% end %>


      <%#= image_tag @customer.get_profile_image(480,480),class:"d-block mx-auto" %>
    </div>
    <div class="col-6">
      <table class='table'>
        <tr>
          <th>保有コイン</th>
          <th>
            <%= @customer.coin %>枚
          </th>
        </tr>
        <tr>
	        <th><%= link_to "コインを購入する", new_buycoin_path %></th>
	        <th><%= link_to "コインと交換する", change_path %></th>
        </tr>
        <tr>
	        <th></th>
	        <th><%= link_to "会員情報を変更する", editpage_path(current_customer) %></th>
        </tr>
        <tr>
          <th><%= link_to "イラストを販売する", new_picture_path %></th>
          <th>
            <%= link_to "販売中のイラストを管理する", mypicture_path %></th>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>

          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
