<div class="container back my-5">
  <div class="box1">
    <h1 class="buy">イラスト使用許可新規販売登録</h1>
  </div>
  <%= form_with model:@picture,method: :post,local:true do |f| %>
    <div class="box1 mt-5">
      <div class="mx-auto pb-5">
        <div class="form-group row">
          <div class="pic">
            <%= f.label :登録イラスト %>
          </div>
          <div>
            <%= f.file_field :picture_image%>
          </div>
        </div>

        <div class="form-group row">
          <div class="pic">
            <%= f.label :タイトル %>
          </div>
          <div>
            <%= f.text_field :title,:placeholder=>"タイトル",size:30 %>
          </div>
        </div>

        <div class="form-group row">
          <div class="pic">
            <%= f.label :イラスト説明 %>
          </div>
          <div>
            <%= f.text_area :body,:placeholder=>"説明",size:"30x5" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="pic">
            <%= f.label :価格 %>
          </div>
          <div>
            <%= f.text_field :price,size:1 %>0コイン
          </div>
        </div>

        <div class="form-group row">
          <div class="pic">
            タグ(コンマ,で区切ることで複数登録可)
          </div>
          <div>
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="form-group row">
          <div class="pic">
            <%= f.label :販売ステータス %>
          </div>
          <div>
            <%= f.radio_button :is_active, true, checked: true %>販売中  <%= f.radio_button :is_active, false %>販売停止中
          </div>
        </div>
      </div>

    </div>
    <div class="box1">
      <div>
        <%= f.submit "  新規登録  ",class:"a-btn a-btn-border" %>
      </div>
    </div>
  <% end %>
</div>