<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">
      <div class="my-3">
        <h5 class="pb-4 mt-3">
          <span class="midashi px-3">イラスト使用許可販売新規登録</span>
        </h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 mx-auto pb-5">
      <%= form_with model:@picture,method: :post,local:true do |f| %>
        <div class="form-group row">
          <div class="col-4">
            <%= f.label :登録イラスト ,class:"pl-3"%>
          </div>
          <div class="col-8">
            <%= f.file_field :picture_image%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4">
            <%= f.label :タイトル,class:"pl-3"%>
          </div>
          <div class="col-8">
            <%= f.text_field :title,:placeholder=>"タイトル",size:30%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4">
            <%= f.label :イラスト説明,class:"pl-3"%>
          </div>
          <div class="col-8">
            <%= f.text_area :body,:placeholder=>"説明",size:"30x5"%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4">
            <%= f.label :価格,class:"pl-3" %>
          </div>
          <div class="col-8">
            <%= f.text_field :price,size:1 %>0コイン
          </div>
        </div>
        <!--<div class="form-group row">-->
        <!--  <div class="col-4">-->
        <!--    <%#= f.label :タグ,class:"pl-3" %>-->
        <!--  </div>-->
        <!--  <div class="col-8">-->
        <!--    <%#= f.text_area :name, placeholder: ",で区切って入力してください", class:"deli-form" %>-->
        <!--  </div>-->
        <!--</div>-->
        <div class="form-group row">
          <div class="col-4">
            <%= f.label :販売ステータス,class:"pl-3"%>
          </div>
          <div class="col-8">
            <%= f.radio_button :is_active, true, checked: true %>販売中  <%= f.radio_button :is_active, false%>販売停止中
          </div>
        </div>

        <div class="form-group row">
          <div class="col-4"></div>
          <div class="col-8">
            <%= f.submit "  新規登録  ",class:"btn btn-success"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
