<div class="container my-5 back">
  <div class="py-5">
    <h1 class="text-center">イラスト詳細・購入</h1>
  </div>
  <div class="big-box1">

    <div>
      <%=image_tag @picture.picture_image,size:"250x250"%>
    </div>

    <div>
      <div class="text-center">
        <h2>
          Title
        </h2>
        <h3>
          <%= @picture.title %>
        </h3>
      </div>

      <div class="text-center buy">
        <h2>
          イラスト説明
        </h2>
        <h4>
          <%= @picture.body %>
        </h4>
      </div>

      <div class="text-center buy">
        <h2>
          タグ
        </h2>
        <h4>
          <% @picture.tags.each do |tag| %>
            <i class="fas fa-tag"></i><%= tag.name %>
          <% end %>
        </h4>
      </div>

      <div class="text-center buy">
        <h2>
          価格
        </h2>
        <h2>
          <%=(@picture.price*10).round.to_s(:delimited)%>コイン
        </h2>
      </div>

      <div class="text-center mt-5">
        <%if @picture.is_active==true%>
          <% if @picture.customer_id == current_customer.id %>
            <h2>マイイラスト</h2>
          <% else %>
            <% if @price <= current_customer.coin %>
              <%= form_with url:collects_path, model: @collect do |f| %>
                <%= f.hidden_field :picture_id, :value => @picture.id %>
                <%= f.submit "使用許可を購入する",class:"a-btn a-btn-border1" %>
              <% end %>
            <% else %>
              <h2>コインが足りません</h2>
            <% end %>
          <% end %>
        <%else%>
          <h2>販売停止中</h2>
        <%end%>
      </div>
    </div>

  </div>
</div>