<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>
  <div class="footerFixed">
  <header class="text-light logo">
    <div>
      <a href="/"><%= image_tag"imk.png",size:"300x70" %> </a>
    </div>
      <div>
        <div class="box ml-auto">
              <%if customer_signed_in? %>
              <div class="nav-item">
                <%= link_to(mypage_path(current_customer.id),class:"a-btn a-btn-border head")do %><span>マイページ</span><% end %>
              </div>
              <div class="nav-item">
                <%= link_to(pictures_index_path,class:"a-btn a-btn-border head")do %><span>販売イラスト</span><% end %>
              </div>
              <div class="nav-item">
                <%= link_to(collects_path,class:"a-btn a-btn-border head")do %><span>購入イラスト</span><% end %>
              </div>
              <div class="nav-item">
                <%= link_to(destroy_customer_session_path,method: :delete,class:"a-btn a-btn-border head")do %><span> ログアウト </span><% end %>
              </div>
              <% elsif admin_signed_in?%>
              <div class="nav-item">
                <%= link_to(admins_publics_path,class:"a-btn a-btn-border head")do %><span>　会員一覧　</span><% end %>
              </div>
              <div class="nav-item">
                <%= link_to(admins_buycoins_path,class:"a-btn a-btn-border head")do %><span>購入申請一覧</span><% end %>
              </div>
              <div class="nav-item">
                <%= link_to(admins_pictures_path,class:"a-btn a-btn-border head")do %><span>イラスト管理</span><% end %>
              </div>
              <div class="nav-item">
                <%= link_to(destroy_admin_session_path,method: :delete,class:"a-btn a-btn-border head")do %><span> ログアウト </span><% end %>
              </div>
              <% else %>
              <% end %>


            </div>
      </div>
    </header>
    <main>
      <div class='background'>
      <%#= render 'layouts/flash' %>
       <%= yield %>
      </div>
    </main>
    <footer class="pt-3 pb-2">
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <h5 class="clogo">© 2022 イラマケッ！</h5>
          </div>
        </div>
      </div>
    </footer>
  </div>
  </body>
</html>
