<div class="container my-5">
  <div class="row">
    <div class="toppage">
      <h2><b>使用許可イラスト一覧</b><span class="total_count">(全<%= @collects.total_count %>件)</span></h2>
    </div>
    <div class="item-box">
      <% @collects.each do |collect| %>

        <div class="item-container">
          <%= link_to picture_path(collect.picture_id), class: "btn-link" do %>
            <div class="image-field">
              <% if collect.picture.picture_image.attached? %>
                <%= image_tag collect.picture.picture_image ,size:"180x130" %>
              <% else %>
                <%= image_tag 'no_image', size: "200x200" %>
              <% end %>
            </div>
            <p class="item-name">
              制作者：<%= collect.picture.customer.name %>
            </p>
          <% end %>
          <%= link_to "プロフィール画像に設定する", set_path(collect.id),method: :patch,class:"btn btn--orange" %>
        </div>

	     <% end %>
	  </div>
	  <div class="picture-pagenate"><%= paginate @collects %></div>
	</div>
</div>
